# Created by .ignore support plugin (hsz.mobi)
Будет удалено .idea/inspectionProfiles/
Будет удалено .idea/modules.xml
Будет удалено .idea/notifications_for_telegram_bot.iml
Будет удалено .idea/workspace.xml
Будет удалено config.php
Будет удалено controller.php
Будет удалено cron.php
Будет удалено curl.php
Будет удалено db.php
Будет удалено index.php
Будет удалено opt.php
